.row
    .col-md-5.col-md-offset-10
      .dropdown
        button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Dropdown
          span.caret
        ul.dropdown-menu(aria-labelledby="dropdownMenu1")
          li
            a(href="/signin") 登录
          li
            a(href="/signup") 注册